name: Tests

on:
  push:
    branches: [ master, develop, nullsafety ]
  pull_request:
    branches: [ master, develop, nullsafety ]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image:  google/dart:latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: pub get
    - name: Run tests
      run: pub run test
